html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0b1020;
}

#app {
  height: 100%;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
